body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 0vw;
    background-color: white;
    transition: background-color 0.5s ease;
}

h1 {
    font-size: 2vw;
    margin-bottom: -1vw;
    margin-top: -0.5vw;
}
h2 {
    margin-bottom: 1vw;
    font-size: 1.5vw;
} 


 
button {
    margin: 1vw;
    padding: 0.6vw;
    font-size: 1vw;
    cursor: pointer;
    border: none;
    border-radius: 0.5vw;
    background-color: #4caf50;
    color: white;
}


    button:hover {
        background-color: #45a049;
    }


.box {
    width: 15vw;
    height: 24vw;
    border: 0.2vw solid #4caf50;
    border-radius: 1vw;
    padding: 0vw;
    background-color: white;
    position: absolute;
    left: 1vw;
}

.switcher {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0vw;
    margin-bottom: 0.5vw;
}

#player1, #player2 {
    margin-top: 1vw;
    display: flex;
    font-size: 1vw;
}

.switch {
    margin: 0.5vw;
    margin-top: 0.2vw;
    margin-bottom: 0.2vw;
    position: relative;
    display: inline-block;
    width: 2.8vw;
    height: 1.45vw;
}

    .switch input {
        display: none;
        
    }

.slider {
    display: flex;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #4caf50;
    transition: 0.4s;
    border-radius: 1vw;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 1vw;
        width: 1vw;
        left: 0.25vw;
        bottom: 0.2vw;
        background-color: white;
        transition: 0.4s;
        border-radius: 1vw;
    }


input:checked + .slider:before {
    transform: translateX(1.3vw);
}


#label {
    font-size: 1vw;
    color: #333;
    margin-top: 0.5vw;
    margin-bottom: 0vw;
}

.input {
    height: 2vw;
    width: 10.6vw;
    font-size: 0.8vw;
    border-radius: 0.5vw;
    border: 0.2vw solid #4caf50;
    outline: none;
    transition: 200ms ease-in;
    padding-left: 0.5vw;
    padding-right: 0.4vw;
    margin-top: 0.1vw;
    margin-bottom: 0.1vw;
}



#timer1 {
    position: absolute;
    font-size: 8vw;
    color: #333;
    margin-top: 0vw;
    left: -20%;
}
#timer2 {
    position: absolute;
    font-size: 8vw;
    color: #333;
    margin-top: 0vw;
    left: -20%;
}


#space {
    display: flex;
    justify-content: center;
}

#pl1 {
    position: absolute;
    left: 22%;
    font-size: 3vw;
}
#pl2 {
    position: absolute;
    left: 80%;
    font-size: 3vw;
}

.flash-green {
    background-color: forestgreen;
}
.flash-red {
    background-color: red; 
}

#categorySelect {
    font-size: 1vw;
}

img {
    width: 35vw;
    height: 35vw;
    margin-top: 0vw;
    position: relative;
    right: -8%;
    object-fit: contain;
}

#help_text {
    position: absolute;
    bottom: 0vw;
    left: 1vw;
    font-size: 1vw;
    color: #333;
    padding: 0vw;
}

#label_saved {
    font-size: 1vw;
    color: #4caf50;
    font-weight: bold;
    opacity: 0;
    transition: opacity 1s ease;
}
    #label_saved.flash {
        opacity: 1;
        transition: none;
    }

#nameimg {
    background-color: white;
    position: relative;
    left: 8%;
    border-radius: 1vw;
    padding: 0.5vw;
    padding-top: 0.1vw;
    padding-bottom: 0.1vw;
    border: 0.5vw solid #4caf50;
    font-size: 4vw;
    opacity: 0;
    width: fit-content;
    height: fit-content;
    top: 0vw;
    margin: 0 auto;
    margin-top: 1vw;
}

.custom-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.8vw;
    margin-bottom: 0.5vw;
    font-size: 0.85vw;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

    .custom-checkbox input {
        display: none;
    }

    .custom-checkbox .checkmark {
        width: 1vw;
        height: 1vw;
        border: 0.2vw solid #4caf50;
        border-radius: 0.4vw;
        margin-right: 0.2vw;
        position: relative;
    }

    .custom-checkbox input:checked + .checkmark::after {
        content: '';
        position: absolute;
        left: 0.3vw;
        top: 0vw;
        width: 0.32vw;
        height: 0.5vw;
        border: solid #2e6037;
        border-width: 0vw 0.2vw 0.2vw 0vw;
        transform: rotate(45deg);
    }